{% extends 'layout.html' %} {% block title %} Página de Contenido {% endblock %} {% block content %}
<h1>
    Conozca nuestros productos y servicios.
</h1>

<p>Contamos con la mejores tecnologias de punta en los mejores ambientes para ti .</p>

<!--<iframe width="560" height="370" src="https://www.youtube.com/embed/meA4FN-GNqo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
<div>
    <section class="carousel">
        <div class="carousel__container">

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/18105/pexels-photo.jpg?cs=srgb&dl=pexels-karsten-madsen-18105.jpg&fm=jpg alt=" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Portatiles</p>
                    <p class="carousel-item__details--subtitle">Asus,Acer,Apple ...</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/3945673/pexels-photo-3945673.jpeg?cs=srgb&dl=pexels-cottonbro-3945673.jpg&fm=jpg" alt="" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Consolas y videojuegos</p>
                    <p class="carousel-item__details--subtitle">Playstation, Xbox,Nintendo ...</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/5490302/pexels-photo-5490302.jpeg?cs=srgb&dl=pexels-rachel-claire-5490302.jpg&fm=jpg" alt="" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Televisores</p>
                    <p class="carousel-item__details--subtitle">Lg,Sony,Panasonic,Samsung...</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/7742555/pexels-photo-7742555.jpeg?cs=srgb&dl=pexels-rann-vijay-7742555.jpg&fm=jpg" alt="" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Mobiles</p>
                    <p class="carousel-item__details--subtitle">Samsung,Huawei,Redmi,Apple...</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/157534/pexels-photo-157534.jpeg?cs=srgb&dl=pexels-anthony-157534.jpg&fm=jpg" alt="" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Equipos de audio</p>
                    <p class="carousel-item__details--subtitle">Bose,Sony,Jbl,Lg...</p>
                </div>
            </div>

            <div class="carousel-item">
                <img class="carousel-item__img" src="https://images.pexels.com/photos/2686903/pexels-photo-2686903.jpeg?cs=srgb&dl=pexels-bruno-cervera-2686903.jpg&fm=jpg" alt="" />
                <div class="carousel-item__details">

                    <p class="carousel-item__details--title">Gadgets y mas..</p>
                    <p class="carousel-item__details--subtitle">Smartbands ,tablets...</p>
                </div>
            </div>




        </div>
    </section>
</div>

{%endblock %}