{% extends 'layout.html' %} {% block title %} Página de Información {% endblock %} {% block content %}
<h1>
    Lideres en tecnologia
</h1>

<p>
    Itech es una compañia que busca suplir con las necesidades a nivel tecnologico de las personas. Contamos con los mejores productos en calidad y a nivel tecnologico , manejando las mejores marcas del mercado tales como Sony ,Apple ,Samsumg ,Acer,Asus,
    entre otras.
</p>
<p>
    Actualmente trabajamos para brindar un excelente servicio a nuestros clientes , ofreciendo diferentes opciones de pago, servicios de envio , y mucho mas.
</p>
<p>
    Itech es la tienda online que necesitas , para comprar sin salir de casa, !que esperas reserva tu pedido!.
</p>


{% endblock %}